html {
    animation:      fade-in 2s;
    background:     linear-gradient(rgb(32, 36, 32), black);
    color:          rgb(248, 248, 248);
    font-family:    Arial, Helvetica, sans-serif;
    font-size:      16pt;
    min-height:     100%;
    min-width:      100%;
    text-align:     center;
    vertical-align: middle;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 128px;
    max-width: 32em;
    padding: 1em;
}

a {
    color: rgb(128, 128, 247);
}

button {
    -webkit-appearance: none;
    background:         rgb(248, 248, 248);
    color:              rgb(32, 36, 32);
    font-size:          75%;
    height:             32px;
}

.information {
    font-size:  75%;
}

@keyframes fade-in {
    from {
        opacity:    0;
    }

    to {
        opacity:    1;
    }
}

/* dragon species styles */

.black, .coal, .obsidian, .onyx { text-shadow: 0px 0px 2px white; }
.blue, .sapphire, .lapislazuli { text-shadow: 0px 0px 1px lightblue; }
.brown, .agate, .bloodstone, .garnet { text-shadow: 0px 0px 1px pink; }
.rainbow { text-shadow: 0px 0px 1px white; }

.black { color: black; }
.blue { color: blue; }
.brown { color: brown; }
.cyan { color: cyan; }
.grey { color: grey; }
.green { color: green; }
.magenta { color: magenta; }
.purple { color: purple; }
.red { color: red; }
.yellow { color: yellow; }
.white { color: white; }

.amethyst { color: purple; }
.diamond { color: white; }
.emerald { color: green; }
.ruby { color: red; }
.sapphire { color: blue; }
.topaz { color: yellow; }

.agate { color: brown; }
.aquamarine { color: paleturquoise; }
.bismuth { color: white; }
.bloodstone { color: darkred; }
.coal { color: black; }
.garnet { color: darkred; }
.jade { color: palegreen; }
.jasper { color: orangered; }
.lapislazuli { color: darkblue; }
.moonstone { color: lightgrey; }
.obsidian { color: black; }
.onyx { color: black; }
.opal { color: white; }
.pearl { color: white; }
.peridot { color: yellowgreen; }
.quartz { color: lightgrey; }
.spinel { color: pink; }
.turquoise { color: skyblue; }

.rainbow:nth-of-type(7n+1) { color: red; }
.rainbow:nth-of-type(7n+2) { color: orange; }
.rainbow:nth-of-type(7n+3) { color: yellow; }
.rainbow:nth-of-type(7n+4) { color: green; }
.rainbow:nth-of-type(7n+5) { color: blue; }
.rainbow:nth-of-type(7n+6) { color: indigo; }
.rainbow:nth-of-type(7n+7) { color: violet; }
